.blog{
    display: flex;
    flex-direction: row;
}

.blog-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 1rem;
}

.blog-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 45px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.blog-content h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.04em;
    color: #F6B800;
}

.blog-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    margin-top: 1.5rem;
}

.blog_content-red{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 2rem;
    
}

.img_1{
    width: 10vw;
    height: 7vh;
    margin-right: 3rem;
}
.img_2{
    width: 8vw;
    height: 11vh;
}

.blog-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1050px){
    .blog{
        flex-direction: column;
    }
    

    .blog-content{
        margin: 0 0 3rem;
    }

    .blog-image img{
        width: 55%;
        height: 60%;
    }

    .img_1{
        width: 30vw;
        height: 8vh;
    }
    .img_2{
        width: 20vw;
        height: 11vh;
    }
}


@media screen and (max-width:450px){
    .blog h1{
        font-size: 35px;
        line-height: 45px;
    }

    .blog h2{
        font-size: 24px;
        line-height: 35px;
    }
    .blog p{
        font-size: 18px;
        line-height: 25px;
    }

    .blog-content{
        margin: 0 0 3rem;
    }
    
    .img_1{
        width: 41vw;
        height: 8vh;
        margin-right: 1rem;
    }
    .img_2{
        width: 31vw;
        height: 11vh;
    }
}