.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.27) !important;
    transition: all 0.7s linear;
}



.card {
    background-color: #292929 !important;
    margin: 1rem;
}

.card-body {
    padding: 2rem 0 !important;
}

.card-body p{
    font-size: 16px;
    font-weight: 300;
    font-family: var(--text-family);
    color: white;
}
.card-body h4{
    font-size: 25px;
    font-weight: 600;
    font-family: var(--text-family);
    color: white;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top {
    transition: all 0.3s ease-in-out;
}
.card-img-top img {
    width: 10%;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.btn {
    font-family: var(--text-family);
    font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.1em;
}


